.callback {
  padding: 4vh 4vw;

  h1 {
    margin-bottom: 2vh;
  }

  p {
    font-size: 4vmin;
  }

  &__form {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;

    label {
      display: flex;
      flex-direction: column;
    }
  }
}
