.fact {
  display: flex;
  padding: 1vh 4vw;

  @media screen and (max-width: map-get($breakpoints, sm)) {
    & {
      flex-direction: column-reverse;
    }
  }

  &__text {
    font-size: 6vmin;
  }

  &__link:nth-last-of-type(1) {
    margin-top: 40px;

    @media screen and (max-width: map-get($breakpoints, sm)) {
      & {
        margin-top: 0;
      }
    }
  }

  &__arrow {
    width: 6vmin;
    height: 6vmin;
  }

  &__controllers {
    display: flex;
    padding: 20px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: $border-width solid map-get($colors, white);
    font-size: 4vmax;

    @media screen and (max-width: map-get($breakpoints, sm)) {
      & {
        margin-top: 40px;
        padding: 10px 20px;
        display: inline-flex;
        flex-direction: row;
      }
    }
  }
}
