$colors: (
  black: #000,
  white: #fff
);

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1480px
);

$transition: 500ms;
$border_width: 4px;

$display_font: 'Roboto Slab', serif;
$default_font: 'Roboto', sans-serif;

$font_weight_bold: 700;
