.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  padding: 1vh 4vw 1vh;

  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1)), url("/public/index.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-block {
  display: flex;
  flex: 1;
}
